{{ device_codename }}: Initial TWRP device tree
XenonTheInertG
Arch: {{ device_arch }}
Manufacturer: {{ device_manufacturer }}
Model: {{ device_model }}
Script version: {{ version }}
Signed-off-by: Mahin Ahmed <XenonTheInertG@outloo.com>
